@import 'base.scss';

*, *::after, *::before {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    height: 100%;
    margin: 0;
}

.Header {
    display: flex;
    height: 100px;
    background-color: lightcyan;
    justify-content: center;
    align-items: center;
}

.Page {
    display: flex;
    align-items: flex-start;
}

.Tests {
    display: flex;
    flex-direction: column;

    button {
        padding: 8px;
    }
}

.Tests button.is-active {
    background-color: aliceblue;
}

.Files {
    border: 1px solid black;
    flex-grow: 1;
}

.Autocomplete {
    position: absolute;
}

.File {
    &-name {
        display: flex;
        padding: 12px;
        width: 100%;
        font-family: monospace;
        background-color: #fafbfc;
    }
}