@import 'base.scss';
@import 'mixins.scss';

*, *::after, *::before {
    box-sizing: border-box;
}

.u-hidden {
    display: none !important;
}

h1 {
    font-size: 32px;
    margin-bottom: 8px;
}

h2 {
    font-size: 26px;
    margin-bottom: 8px;
}

body,
#root {
    height: 100%;
    margin: 0;
}

.Header {
    display: flex;
    height: 100px;
    background-color: lightcyan;
    justify-content: center;
    align-items: center;
}

.TestOrdering {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    &-auto {
        margin-bottom: 20px;
    }

    button {
        @include button;

        margin: 12px;
    }
}

.TestBrowser {
    display: flex;
    align-items: flex-start;

    &-tests {
        display: flex;
        flex-direction: column;
        margin-right: 8px;

        button {
            @include button;

            padding-top: 12px;
            padding-bottom: 12px;
            padding: 8px;
        }

        button.is-active {
            background-color: aliceblue;
        }


        button:last-child {
            @include button;

            background-color: #bff7bf;

            margin-top: 30px;
        }
    }

    &-files {
        border: 1px solid black;
        flex-grow: 1;
    }
}

.Autocomplete {
    position: absolute;
}

.File {
    &-name {
        display: flex;
        padding: 12px;
        width: 100%;
        font-family: monospace;
        background-color: #fafbfc;
    }

    &:not(:last-child) {
        margin-bottom: 16px;
        border-bottom: 1px solid black;
    }
}